<table>

	<thead>
		<tr>
			<th>District</th>
			<th>Subject</th>
			<th>Advanced</th>
			<th>Proficient</th>
			<th>Needs improvement</th>
			<th>Warning</th>
			<th>Tested</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<th>District</th>
			<th>Subject</th>
			<th>Advanced</th>
			<th>Proficient</th>
			<th>Needs improvement</th>
			<th>Warning</th>
			<th>Tested</th>
		</tr>
	</tfoot>

	<tbody>

		<!-- {{#each districts}} -->

			<!-- <tr> -->
			<!-- 	<th>{{this.district}}</th> -->
			<!-- 	<th>{{this.subject}}</th> -->
			<!-- 	<th>{{this.adv_per_14}}</th> -->
			<!-- 	<th>{{this.pro_per_14}}</th> -->
			<!-- 	<th>{{this.ni_per_14}}</th> -->
			<!-- 	<th>{{this.wf_per_14}}</th> -->
			<!-- 	<th>{{this.total_perf_14}}</th> -->
			<!-- </tr> -->

		<!-- {{/each}} -->

	</tbody>

</table>
